# Required - The ID of your Sanity project
SANITY_STUDIO_PROJECT_ID=""
# Required - The dataset of your Sanity project
SANITY_STUDIO_DATASET=""
# Optional - The URL of your application, for use in Presentation
SANITY_STUDIO_PREVIEW_URL=""
# Optional - The URL to deploy your Sanity Studio to,
SANITY_STUDIO_STUDIO_HOST=""
